$blue1: #07aded;
$blue2: #3e4375;
$blue3: #00b8ff;
$shadow1: 8px 10px 6px rgba(0,0,0,.2);
@import "includes/fonts";
@import "includes/global";
@import "includes/settings";
@import "includes/game-table";
@import "includes/hide-show";