@font-face {
    font-family: 'Cooper Std';
    src: url('../fonts/CooperBlackStd.woff2') format('woff2'),
        url('../fonts/CooperBlackStd.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

